body { margin:0px; background:url(../img/bg_logo.png) no-repeat center center fixed; font-family:arial, helvetica, sans-serif; overflow-x: hidden; }
	div.tileifyBlock { filter: alpha(opacity=50); }
	div.tileifyBlockFixed { filter: alpha(opacity=30); background-size:cover !important; }